body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:962px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:32px;
  top:31px;
  width:935px;
  height:292px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:27px;
}
#u3 {
  position:absolute;
  left:109px;
  top:0px;
  width:699px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:695px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:27px;
}
#u5 {
  position:absolute;
  left:808px;
  top:0px;
  width:122px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:260px;
}
#u7 {
  position:absolute;
  left:0px;
  top:27px;
  width:109px;
  height:260px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:121px;
  width:105px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:260px;
}
#u9 {
  position:absolute;
  left:109px;
  top:27px;
  width:699px;
  height:260px;
  text-align:left;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:695px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:260px;
}
#u11 {
  position:absolute;
  left:808px;
  top:27px;
  width:122px;
  height:260px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:2px;
  top:122px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
